<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stockdraw.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>股價圖</title>

    <script>
        async function callback() {
            let Stock = document.getElementById('stock').value;
            let Period = document.getElementById('period').value;
            let Interval = document.getElementById('interval').value;
            let response = await fetch("/callback/getStock?data=" + Stock + "&period=" + Period + "&interval=" + Interval);
            if (response.ok) {
                let chartJson = await response.json();
                if (response.ok) {
                    response = await fetch("/callback/getInfo?data=" + Stock);
                    let infoJson = await response.json();
                    info(infoJson);
                    Plotly.newPlot('chart', chartJson, {});
                } else {
                    alert("HTTP-Error: " + response.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + response.status + "on getStock");
            }
        }
        function info(json) {
            let name = document.getElementById('companyName');
            name.innerHTML = json.shortName;
            name = document.getElementById('symbol');
            name.innerHTML = json.symbol;
            name = document.getElementById('dayClose');
            name.innerHTML = json.dayClose;
            name = document.getElementById('dayHigh');
            name.innerHTML = json.dayHigh;
            name = document.getElementById('dayLow');
            name.innerHTML = json.dayLow;
        }
    </script>
</head>

<body>
    <section class="canva">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="/member"><i class="bi bi-house-door-fill"></i></i>Program-Trading</a>
  
            <button class="navbar-toggler" role="button" href="#offcanvasExample" data-bs-toggle="offcanvas" aria-controls="offcanvasExample">
              <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
            </button>
  
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header">
                <a class="navbar-brand" href="#"><i class="bi bi-house-door-fill"></i></i>Program-Trading</a>
                <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
    
                  <li class="nav-item">
                    <a class="nav-link px-3" href="/member">首頁</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="/member/stockinfopage">公司資訊</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="/member/stockdraw">股價圖</a>
                  </li>
                  <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          交易策略
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                          <li><a class="dropdown-item" href="/member/bbands">布林通道</a></li>
                          <li><a class="dropdown-item" href="/member/rsi">RSI</a></li>
                          <li><a class="dropdown-item" href="/member/macd">MACD</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="/member/orderpage">下單紀錄</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" href="/member/about">關於</a>
                  </li>
                </ul>
                
                <form action='/signout'class="d-flex">
                  <button class="btn"></a><i class="btnicon bi-box-arrow-right "></i></a>登出</button>
                  
                </form>
                
              </div>
            </div>
          </div>
        </nav>
    </section>
    <div class="container">
        <div class="row">
    
        </div>
        <div class="row">
            <div class="col"><h3>股票代號:</h3></div>
            <div class="row"><b>(上市.tw or 上櫃.two)</b></div>
            <div class="col">
                    <form action="" method="">
                        <input id="stock" for="stock" aria-label="Select" type="text" name=""/>
                    </form>
            </div>
            <div class="col"><b>個股時間範圍</b></div>

            <div class="col">
                <select id="period" class="form-select" aria-label="Select" )>
                    <option selected value="1d">1 天</option>
                    <option value="5d">5 天</option>
                    <option value="1mo">1 月</option>
                    <option value="3mo">3 個月</option>
                    <option value="6mo">6 個月</option>
                    <option value="1y">1 年</option>
                    <option value="2y">2 年</option>
                    <option value="5y">5 年</option>
                    <option value="10y">10 年</option>
                    <option value="ytd">今年到現在</option>
                    <option value="max">最大限度</option>
                </select>
            </div>
            <div class="col"><b>K棒時間</b></div>

            <div class="col">
                <select id="interval" class="form-select" aria-label="Select" )>
                    <option selected value="1m">1 分</option>
                    <option value="2m">2 分</option>
                    <option value="5m">5 分</option>
                    <option value="15m">15 分</option>
                    <option value="30m">30 分</option>
                    <option value="60m">60 分</option>
                    <option value="90m">90 分</option>
                    <option value="1d">1 天</option>
                    <option value="5d">5 天</option>
                    <option value="1w">1 週</option>
                    <option value="1m">1 個月</option>
                    

                </select>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" onclick="callback()">查詢</button>
            </div>
            <div class="w-100" style="padding:10px;text-align:right;font-size: small;"><i>注意:K棒時間範圍不一定
                對股票全部時間範圍有效</i></div>

            <div class="col-3"><p><b>股票資訊:</b></p>
                <p>個股名稱: <span id="symbol">N/A</span></p>
                <p>收盤價: <span id="dayClose">N/A</span></p>
                <p>最高價: <span id="dayHigh">N/A</span></p>
                <p>最低價: <span id="dayLow">N/A</span></p>

            </div>
            <div class="col-9">
                <h2 id="companyName"></h2>
                <div id="chart" class="chart" style="height: 800px; width: 800px; border: 1px solid; 
                    box-shadow: 5px 5px 5px #888888;">
                </div>
            </div>
            
        </div>
    </div>

    <script>callback();</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>
</html>